<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/premium.css">
    <link rel="icon" href="/images/logo.png">
    {{!-- {{> logo}} --}}
    <title>Premium</title>
</head>
<body>
    <header class="header">
        <a href="/"><img src="/images/logo.png" class="logo" height="65px" width="80px"></a>
    </header>
    <div class="grid-container">
        <div class="div1">
            <span>Introducing Premium Feliq</span>
            <p>₹7 for 1 day.<br>₹25 for 1 week</p>
            <a href="#" class="active">GET FELIQ</a>
            <a href="#bottom">SEE OTHER PLANS</a>
        </div>
        <div class="div2">
            <span>Get Premium free for 1 month</span>
            <p>Just ₹150/month..Grab it soon</p>
            <a href="#">GET STARTED</a> 
        </div>
        <div class="div3">
            <small>Connect with music and create a culture</small>
            <div class="div30">
            <div class="div31">
                <img src="/images/singers/anirudh.jpg" width="260px" height="250px">
            </div>
            <div class="div32">
                <img src="/images/singers/yuvancoat.jpeg" width="250px">
            </div>
            <div class="div33">
                <img src="/images/singers/ar-rahman.jpg" width="290px" height="250px">
            </div>
            <div class="div34">
                <img src="/images/singers/spb.jpg" width="250px" height="250px">
            </div>
            <div class="div35">
                <p id="para">Artists : Anirudh Ravichander<br>Enjoy it freely!</p>
            </div>
            <div class="div36">
                 <p id="para">Artists : Yuvan Sankar Raja<br>Enjoy it freely!</p>
            </div>
            <div class="div37">
                <p id="para">Artists : A.R.Rahman<br>Enjoy it freely!</p>
            </div>
            <div class="div38">
                 <p id="para">Artists : SPB<br>Enjoy it freely!</p>
            </div>
        </div>
    </div>
        <div class="div4">
<a href="#" id="bottom"></a>
        </div>
      </div>
</body>
</html>
<!-- <!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="PremiumPage.css">
    <title>Premium</title>
</head>
<body>
    <label>Coupon Code : </label>
    <input type="text" placeholder="Enter your Coupon Code" id="name" onkeyup="placekey()">
</body>
<script>
    function placekey(){
        var key = document.getElementById('name');
        key.value = key.value.toUpperCase();
    }
</script>
</html> -->