<!DOCTYPE html>
<html lang="en">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Register</title>
<link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
{{!-- Sweet Alert Scripts and CSS starts here..--}}
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert-dev.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.css">
{{!-- Sweet Alert Scripts and CSS ends here..--}}

<link rel="stylesheet" href="/css/register.css">
 {{!-- {{> logo}}  --}}
<link rel="icon" href="/images/logo.png">

</head>
<body>
  <div class="system">
      <h2 id="h2">Create account with</h2>
      <div class="social-media-system">
        <nav>
          <ul>
            <li><a href="https://www.facebook.com/varunkavier.kavier"><i class="fab fa-facebook-f"></i></a></li>
            <li><a href="https://www.linkedin.com/in/delcet-musicapp-766898265/" title="Linked In"><i class="fab fa-linkedin-in"></i></a></li>
            <li><a href="https://www.instagram.com/__delcet__23/" title="Instagram"><i class="fab fa-instagram"></i></a></li>
          </ul>
        </nav>
        <p class="text">or use your email to sign up</p>
      </div>
      {{#if msg}}
      <p class="{{msg_type}}">{{msg}}</p>
      {{/if}}
      <form id="form" class="form" action="/auth/register" method="post">
        <div class="form-control">
          <label>User Name : </label>
          <input type="text" placeholder="Enter your name" id="name" name="username" onkeyup="nameerror()">
          <i class="fa-solid fa-circle-check" id="successicon1"></i>
          <i class="fa-solid fa-circle-exclamation" id="erroricon1"></i>
          <small id="error1">Error Message</small>
        </div>
        <div class="form-control">
          <label>Email : </label>
          <input type="text" placeholder="Enter your email" id="email" name="emailname" onkeyup="emailerror()">
          <i class="fa-solid fa-circle-check" id="successicon2"></i>
          <i class="fa-solid fa-circle-exclamation" id="erroricon2"></i>
          <small id="error2">Error Message</small>
        </div>
        <div class="form-control">
          <label>Set Password : </label>
          <input type="password" placeholder="Enter a strong password" id="set_password" name="set_passwordname" onkeyup="spasserror()">
          <i class="fa-solid fa-circle-check" id="successicon3"></i>
          <i class="fa-solid fa-circle-exclamation" id="erroricon3"></i>
          <small id="error3">Error Message</small>
        </div>
        <div class="form-control">
          <label>Confirm Password : </label>
          <input type="password" placeholder="Re-type the password" id="confirm_password" name="confirm_passwordname"onkeyup="cpasserr()">
          <i class="fa-solid fa-circle-check" id="successicon4"></i>
          <i class="fa-solid fa-circle-exclamation" id="erroricon4"></i>
          <small id="error4">Error Message</small>
        </div>
        <button type="submit">Submit</button>
<script>
const name=document.getElementById("name");
const email=document.getElementById("email");
const spass=document.getElementById("set_password");
const cpass=document.getElementById("confirm_password");
const error1=document.getElementById("error1");
const error2=document.getElementById("error2");
const error3=document.getElementById("error3");
const error4=document.getElementById("error4");
const s1=document.getElementById("successicon1");
const s2=document.getElementById("successicon2");
const s3=document.getElementById("successicon3");
const s4=document.getElementById("successicon4");
const e1=document.getElementById("erroricon1");
const e2=document.getElementById("erroricon2");
const e3=document.getElementById("erroricon3");
const e4=document.getElementById("erroricon4");


function nameerror(){
  const name1=name.value;
  if(name1==""){
    error1.style.color="red";
    error1.style.visibility="visible";
    error1.innerHTML="This Field should'nt be empty";
    name.style.border="2px solid red";
    e1.style.visibility="visible";
  }
  else if(name1.length>=15){
    name.style.border="red";
    error1.style.color="red";
    error1.style.visibility="visible";
    error1.innerHTML="Username should not exceed more than 15 characters"; 
    e1.style.visibility="visible";            
  }
  else{
    error1.style.color="green";
    error1.style.visibility="visible";
    error1.innerHTML="";
    name.style.border="2px solid green";
    s1.style.visibility="visible";
    e1.style.visibility="hidden";
  }
}


function emailerror(){
    const email1=email.value;
    const regExp = /^(([^<>()[\]\.,;:\s@\"]+(\.[^<>()[\]\.,;:\s@\"]+)*)|(\".+\"))@(([^<>()[\]\.,;:\s@\"]+\.)+[^<>()[\]\.,;:\s@\"]{2,})$/i;
    if(email1==''){
      error2.style.color="red";
      error2.innerHTML="This Field should'nt be empty";
      error2.style.visibility="visible";
      email.style.border="2px solid red";
      e2.style.visibility="visible";
    }
    else if(!(regExp.test(email1))){
      error2.style.color="red";
      email.style.border="2px solid red";
      error2.style.visibility="visible";
      error2.innerHTML="Invalid! Please provide proper Email";
      e2.style.visibility="visible";
  }
  else{
    error2.style.color="green";
    error2.style.visibility="visible";
    error2.innerHTML="";
    email.style.border="2px solid green";
    s2.style.visibility="visible";
    e2.style.visibility="hidden";
  }
}

function spasserror(){
  const spass1=spass.value;
    if(spass1==''){
    error3.style.color="red";
    error3.innerHTML="This Field should'nt be empty";
    error3.style.visibility="visible";
    spass.style.border="2px solid red";
    e3.style.visibility="visible";
  }
  for(i=0;i<spass1.length;i++){
    var passchar=tocharAt
  }
    else if(spass1.length>10){
    error3.style.color="red";
    error3.innerHTML="Password should be minimum 10 characters";
    error3.style.visibility="visible";
    spass.style.border="2px solid red";
    e3.style.visibility="visible";
    }
    //else if(spass1)
    else{
     error3.style.color="green";
    error3.style.visibility="visible";
    error3.innerHTML="";
    spass.style.border="2px solid green";
    s3.style.visibility="visible";
    e3.style.visibility="hidden";
    } 
}
</script>
</form> 
</div>
</body>
</html>


