*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body{
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  .system{
    background:#5199E4;
    border-radius: 0px 35px 0px 35px;
    box-shadow: 0px 5px 20px 4px rgba(16, 15, 15, 0.874);
    width: 375px;
    height: 450px;
    overflow: hidden;
    position: relative;
    
  }
  .system-contents{
    position: relative;
    z-index: 10;
  }
  .social-media-system{
    justify-content: center;
    text-align: center;
  }
  .form{
    padding: 20px 30px;
  }
  .form-control{
    margin-bottom: 10px;
    padding-bottom: 15px;
    position: relative;
  }
  .form-control label{
    color: white;
    font-size: 16px;
    font-weight: bold;
    display: inline-block;
    padding: 15px;
    margin-right:10px;
  }
  .form-control input{
    border: 2px solid #f0f0f0;
    display: block;
    border-radius: 5px;
    font-size: 15px;
    width: 100%;
    padding: 10px;
  }
  .form-control input:focus{
    outline: none;
    border-color: teal;
  }
  .form-control.success input{
    border-color: #0cce5d;
  }
  .form-control.error input{
    border-color: #c80d0d;
  }
  .form-control small{
    position: absolute;
    color: #c80d0d;
    visibility: hidden;
  }
  .form button{
    margin-left: 60px;
    background-color: black;
    border: none;
    outline: none;
    color: white;
    width: 150px;
    padding: 8px;
    font-size: 15px;
    border-radius: 10px;
    cursor: pointer;
    display: block;
  }
  .form #submit:hover{
    background-color: #5199E4;
  }
  #login{
  
    font-size: 1rem;
    margin-left: 0px;
    margin-top: -15px;
    padding: 30px;
  }
  #loginbtn{
    margin-left: 220px;
    margin-top: -20px;
  }
  
  .error{
    color:red;
    font-weight: bold;
    font-size: large;
    text-align: center;
    padding: 10px;
  }
  .good{
    color:green;
    font-weight: bold;
    font-size: large;
    text-align: center;
    padding: 10px;
  }
  
  .forget-account p {
    font-size: 1.12rem;
    padding: 1rem;
  }
  
  @media only screen and (max-width : 500px)
  {
    .form{
        width: 100%;
    }
    .form-group span{
        font-size: xx-small;
    }
  }
  